body{
    text-align: center;
}
html{
    background-color: black;
}
h1{
    font-size: 50px;
}
input{
    color: white;
}
.setting{
    border-radius: 10px;
    background-color: rgb(56, 55, 55);
    font-family:'Times New Roman', Times, serif ;
    color: rgb(12, 240, 50);
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 314.888px;
    height: auto;
    border: 2px solid black;
    padding: 10px;
}
.submit{
    font-size: larger;
    background-color: rgb(30, 234, 64);
    margin: 40px 0px;
    border: 1px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    padding: 1px 20px;
    color: white;
}
.submit:hover{
    background-color: black;
}
.time_input{
    background-color: rgb(56, 55, 55);
    font-size: 45px;
    height: 40px;
    margin: 0px 5px;
    width: 65px;
}
.label{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

#screen{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family:'Orbitron';
}
#table{
    background-color: rgb(56, 55, 55);
    width:auto;
    border-radius: 10px;
    margin: auto;
}
#invalid{
    visibility: hidden;
    font-size: 15px;
}
